.main-modal {
    border-radius: 0px;
  }
  .iframeV {
    border-radius: 0px;
    width: 100%;
    height: 300px;
  }
  
  .modal-body,
  .body-modal {
    padding: 0rem;
    background-color: #d0d0d0;
    width: 650px;
    transform: translate(-12%, 0%);
  }
  .footer-modal {
    background-color: #d0d0d0;
  }
  
  .movie-title {
    padding: 5px 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #201e23;
  }
  .tap {
    background-color: #d0d0d0;
  }
  .p-modal {
    padding: 8px;
    color: #6ab128;
  }
  
  /* #d57932 logo */
  /* #d0d0d0  */
  /* #373c41 */
  /* #201e23 */
  
  .nav {
    background-color: #201e23;
  }
  
  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 0px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    color: #d57932;
    font-weight: 700;
  }
  
  .btn-secondary,
  .btn {
    color: rgb(255, 255, 255);
    background-color: #f3be5d;
    border: none;
    font-weight: 700;
  }
  .btn:hover {
    color: #ffffff;
    background-color: #eb822d;
    border-color: #f0812c;
  }
  
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #d0d0d0;
    border-color: #ffffff #dee2e6 #fff;
  }