.navbar-header{
    border-radius: .2rem;
    font-family: 'IM Fell English SC', serif;
    font-size: 25px;
    color: rgb(197, 185, 180);

  }
  .navbar-header .login-btn:hover,.logout-btn:hover{
      color: rgb(255, 255, 255);
      background-color: #bd3535;
      text-shadow: 0 0 4px rgb(255, 255, 255);
      font-weight: 600;


    }
  
    .navbar-header a{
      text-decoration: none;
      margin: 1px;
      /* text-shadow: 0 0 5px  rgb(0, 38, 255); */
      /* font-weight: 400;
      text-shadow: 0 0 1px #003cff, 0 0 1px #003cff; */
      transition: .5s;
    }
    .navbar-header a:hover{
      /* text-shadow: 0 0 4px rgb(0, 0, 0); */
      border-radius: 20px;
      background-color: #8b515154;
      font-weight: 400;
      
    }
    .me-auto{
      font-family: 'IM Fell English SC', serif;

    }