/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(199, 186, 187);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#eea73b;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#ca8a2b; }

.contactusform {
background-image: transparent;
}
.feedback-input{
  background-color: rgb(238, 235, 235);
} */



/*..................feedback form...........*/

.formContactUS{
  width: 540px;
  margin: 0 auto;
}
#feedback {
float: left;
position: fixed;
top: calc(70% - 47px);
right: 0;
  z-index: 3000;
}

#feedback a {
background: #FF4500;
border-radius: 5px 0 0 5px;
box-shadow: 0 0 3px rgba(0, 0, 0, .3);
border: 3px solid #fff;
border-right: 0;
display: block;
padding: 20px 12px;
transition: all .2s ease-in-out;
}

#feedback a:hover {
padding-right: 20px;
}


