body {
    background-image: url(http://kreativo.se/backlogin.jpg);
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;  
}
.container1 {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
    background-color: rgba( 255,255,255,0.4 );
}
#signup {
    padding: 0px 25px 25px;
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    background-color: rgba(255, 255, 255, 0);
}
.select-signin{
    background: #F5F5F5;
    font-size: 0.8rem;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    color: rgb(177, 175, 175);
    width: 330px;
    /* margin-bottom: 20px; */
    box-shadow: inset 0px 2px 3px rgb(0 0 0 / 10%);
    clear: both;
    margin: 0 auto 15px;
    display: block;
}
#signup .header {
    margin-bottom: 20px;
}
input{
    background: #F5F5F5;
    font-size: 0.8rem;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    /* margin-bottom: 20px; */
    box-shadow: inset 0px 2px 3px rgb(0 0 0 / 10%);
    clear: both;
    margin: 0 auto 15px;
    display: block;
}
#signup .header h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 5px; */
    text-align: center;
margin-top: 20px;

}
#signup .header p {
    color: #cccccc;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
#signup .sep {
    height: 1px;
    background: #E8E8E8;
    width: 406px;
    margin: 0px -25px;
}
#signup .inputs {
    margin-top: 25px;
}
#signup .inputs label {
    color: #8F8F8F;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}
input::-webkit-input-placeholder {
    color:    #B5B5B5;
}
input:-moz-placeholder {
    color:    #B5B5B5;
}
#signup .inputs input[type=email], input[type=password] {
    background: #F5F5F5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}
#signup .inputs input[type=email]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #FFF38E, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;  
}
#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}
#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}
#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #B9C5DD 0%,
        #A4B0CB);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#B9C5DD),
        to(#A4B0CB));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737B8D;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}
#signup .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #A4B0CB 0%,
        #B9C5DD);
}
.btnSignup{
    width: 220px;
    background-color: #FFF4CD;
    font-size: 28px;
    border-radius: 14px;
    font-family: ui-serif;
    display: block;
    margin-left:auto ;
    margin-right: auto;
}
.signupbody{
    background-image: url(https://assets.gqindia.com/photos/60f932bbbc55a78132763da9/master/pass/Hundo%20Pizza.jpg);
    background-size: cover;
    padding-top: 20px;
    margin-bottom: -50px;
    height: 750px;
  
}